# Flask Framework
Flask

# MySQL Database Connector
mysql-connector-python

# Password Hashing and Security
Werkzeug>=2.3

# Environment Variables Management (Optional)
python-dotenv

# Additional Utilities
Pillow

# Excel Export Support
openpyxl

Flask==3.0.0
gunicorn


